server:
  port: 4444
  error:
    path: "/error"
    whitelabel:
      enabled: false

spring:
  application:
    name: project
  liquibase:
    change-log: classpath:database/db.changelog.yml
    enabled: true
    contexts: prod, dev
  datasource:
    url: jdbc:postgresql://localhost:${POSTGRES_DB_PORT:5432}/${POSTGRES_DB:all-on-sport}
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:postgres}
    driver-class-name: "org.postgresql.Driver"
    hikari:
      jdbc-url: jdbc:postgresql://localhost:${POSTGRES_DB_PORT:5432}/${POSTGRES_DB:all-on-sport}
      driver-class-name: "org.postgresql.Driver"
      username: ${POSTGRES_USER:postgres}
      password: ${POSTGRES_PASSWORD:postgres}
      connection-timeout: 30000
      maximum-pool-size: 15
      minimum-idle: 10
      initialization-fail-timeout: 1
      leak-detection-threshold: 0
      pool-name: "[HikariPool-all-on-sport-pool]"
      register-mbeans: true
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
    hibernate:
      ddlAuto: validate

